/* ------ CSS RESET ------ */

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
    }

/* --------- MAIN STYLING ----------- */
    
body {
    width: 75%;
    max-width: 670px;
    margin: auto;
    background: #E6DEDD
    color:black;
    font-family: 'Montserrat', sans-serif;
}

/*----------- TYPOGRAPHY ----------------*/
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #8F1D14 ;
    text-align: center;
}


p, li, blockquote {
    margin-bottom: 1.5;
    line-height: 1.4
}

h1{
    font-size: 3.988em;
    margin-top: 1em;
    margin-bottom: 0.5em
}

h2 {
    font-size 2.827em;
    margin-top: 1em;
    margin-bottom: 0.1em
    }

h3 {
    font-size: 1.999em;
    margin-top: 1em;
    margin-bottom: 0.1em;
}

blockquote {
    hanging-punctuation: first;
    text-indent: -0.5em
}

header h2{
    font-style:normal;
    font-size: 2.35em;
    margin-top:  0.2em;
    color: #333
}


/*---------- STYLING LINKS ----------*/

A {
    color: #c06;
    text-decoration: none;
}


a:hover {
    color: #006341;
    border-bottom: 1px dotted
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color:black;
    padding: 1em 0;
    font-size: 0.75em
}


nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px
}

nav ul li {
    display: inline;
    margin: 20px
}

nav a:link {color: #8F1D14}

nav a:visited {color: darkorange}

nav a:hover {border-bottom: none;
color: #F89D13}

/*-- BLOCKQUOTE --*/

blockquote {
    padding: 1em 0 4em 0;
    font-size: 1.75em;
    line-height: 1.3;
    color: #777;
}

blockquote cite {
    font-size: 0.75em;
}

/*---- IMAGES -----*/

img {
    display:block;
    margin: 2em auto;
    padding: 0;
    max-width: 100%
}

/*---------- FOOTER -------------*/

footer{
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 2em 0
        
}

hr {
    margin: 1em o;
    height: 1px;
    background color: #333;
    color: #333;
    border: 0 none
        
}


/*------------ connections --------------*/

.connections {
    position: relative;
    margin: 0 auto;
    margin: 20px, 0;
}

connections ul {
    margin: 0;
    padding: 0;
}
.connections li {
    margin: 0 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
}

connections a:link {
    border-bottom: none;
}

.connections img {
    opacity: 0.5;
    border: none;
}
 
.connections a:hover img {
    opacity: 1.0;
    border-bottom: none;
    transition:all 0.3s ease-in-out
        transform:scale(2);
}

